HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
environment-configuration-center/.mvn/
environment-configuration-center/mvnw
environment-configuration-center/mvnw.cmd
environment-registration-center/.mvn/
environment-registration-center/mvnw
environment-registration-center/mvnw.cmd
service-base-frame/.mvn/
service-base-frame/mvnw
service-base-frame/mvnw.cmd
service-base-frame/src/test/java/com/wangsp/
service-db-client/.mvn/
service-db-client/mvnw
service-db-client/mvnw.cmd
service-db/.mvn/
service-db/mvnw
service-db/mvnw.cmd
service-gateway/.mvn/
service-gateway/mvnw
service-gateway/mvnw.cmd
service-user-client/.mvn/
service-user-client/mvnw
service-user-client/mvnw.cmd
service-user/.mvn/
service-user/mvnw
service-user/mvnw.cmd
service-user/src/main/resources/static/
service-user/src/main/resources/templates/
service-user/src/test/java/com/wangsp/
starter-base-service/.mvn/
starter-base-service/mvnw
starter-base-service/mvnw.cmd
